/*Colour variables for use in the project*/
:root {
    --color1:#a53860;
    -color2: #fdf0d5;
    --color3: #001d3d;
    --color4: #000814;
    --color5: #43291f;
    --color6: #003566;
    --color7:#226f54;
    --color8:#457b9d;
    --color9: #00f5d4;
    --color10: white;
    --color11:#1282a2;
    --color12:#03aad7;
  }
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;

}
main {
    display: grid;
grid-template-columns:2fr 1fr 1fr 1fr 1fr;
grid-template-rows:repeat(9, 1fr);
grid-template-areas:
".my-image .my-image two three four"
"image image title1 title1 title1"
"image image title1 title1 title1"
"image image title1 title1 title1"
"me para para para para"
"me para para para para"
"work project1 project1 project1 project1"
"work project1 project1 project1 project1"
"contact github github email email"
;
border: 1px solid red;
}
/*Styling navbar*/
.nav-bar {
  
    background: var(--color3);
    display: flex;
    flex-direction: row;
    color: var(--color10);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    max-width: 100%;

    }
    /*styling nav bar link*/
    .nav-link {
     text-decoration: none;   
    color:var(--color10);
    }
    .underline {
        text-decoration: underline;
        margin: 20px;
        font-size: 20px;;
    }
