/*Colour variables for use in the project*/
:root {
    --color1:#a53860;
    -color2: #fdf0d5;
    --color3: #001d3d;
    --color4: #000814;
    --color5: #43291f;
    --color6: #003566;
    --color7:#226f54;
    --color8:#457b9d;
    --color9: #00f5d4;
    --color10: white;
    --color11:#1282a2;
    --color12:#03aad7;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 100%;
  
      }
      html, body {
        display: inline-block;
        background-color: var(--color1);
        max-width: 100%;
    }
  /*Styling navbar*/
  .nav-bar {
  
background: var(--color3);
display: flex;
flex-direction: row;
color: var(--color10);
justify-content: center;
align-items: center;
padding-left: 20px;
padding-right: 20px;
height: 60px;
max-width: 100%;
}
/*styling nav bar link*/
.nav-link {
 text-decoration: none;   
color:var(--color10);
}
.underline {
    text-decoration: underline;
    margin: 20px;
    font-size: 20px;;
}
/*styling name header in navbar*/
.name {
    display: flex;
    position: relative;
    background-color: var(--color12);
    margin-right: 100px;
    margin-left: 20px;
    left: -260px;
    height: 40px;
    width: 150px;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    color: var(--color10);
}
.my-photo {
    position:relative;
    grid-area:photo;
    width: 10%;
    top: 10px;
    height:80%;
    margin-left: 20px;
   
}
.me-and-cool-title-wrapper {
    background-image: url(../images/02-hero-bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 250px;
}
.cool-title-div {
    color: var(--color1);
    font-size: 20px;
}
   .cool-header {
    position: relative;
    color: var(--color1);
    right: -1200px;
    top:-100px;
    }
        .about-me {
        grid-area: me-side-title;
        font-size: 10px;
        color: var(--color10);
        padding-left: 10px;
        border-right: 2px solid var(--color10);
    }
    .about-me-side-header {
        grid-area: me-title;
    }
    .about-me-para {
        position: relative;
        grid-area: para;
        color:var(--color10);
        padding-left: 210px;
        top:-35px;
        margin-top: 0;

        }
       
.projects-header {
    grid-area: work-header;
}
        #project1 {
    grid-area:project1;
    width:25%;
}   
#project2 {
    grid-area: project2;
    width: 25%;
    }
#project3 {
    grid-area: project3;
    width: 25%;
}
#project4 {
    grid-area: project4;
    width: 25%;

}
#project5 {
    grid-area: project5;
    width: 25%;
}

 .contact-me-div {
    grid-area: contact-me-title;
 }   
main {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'photo photo photo cool-title cool-title'
    'me-title para para para para'
    'work-header project1 project1 project2 project2'
    'project3 project3 project4 project4'
    ;
}